<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/usuarios">AA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/usuarios/carpeta">Carpeta</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Agregar Reporte
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Línea innovadora</a>
          <a class="dropdown-item" href="#">Producción académica</a>
          <a class="dropdown-item" href="#">Proyectos</a>
          <a class="dropdown-item" href="#">Dirección Individualizada</a>
          <a class="dropdown-item" href="#">Estadía en empresas</a>
        </div>
      </li>

      {{#if usuario.admin}}
      <li class="nav-item"><a class="nav-link" href="/usuarios/agregar">Agregar Usuario</a></li>
      {{/if}}

      <li class="nav-item"><a class="nav-link" href="/usuarios/ajustes">Ajustes</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>

<section class="jumbotron">
  <img id="foto" class="d-block mx-auto" src="./images/{{ usuario.foto }}" alt="Foto de usuario" />
  <h1 class="display-6 text-center">{{ usuario.usuario }}</h1>
</section>

<section class="container">

  <form>
    <div class="row">
      <div class="col">
        <h4>Nombre: </h4>
        <p>{{ usuario.nombre }}</p>
      </div>
      <div class="col">
        <h4>Apellido: </h4>
        <p>{{ usuario.apellido }}</p>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <h4>Correo: </h4>
        <p>{{ usuario.correo }}</p>
      </div>
      <div class="col">

      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <h4>Curriculum: </h4>
        <p>
          {{ usuario.curriculum }}
        </p>
      </div>
    </div>
    <hr class="my-4">
  </form>

</section>
